body{
    width: 800px; 
    border: 2px solid black; 
    margin: 20px auto; 
    border-radius: 10px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    font-size:x-large;
    text-align: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:lightcyan;
}

div {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    background-color: lightcyan;
  }

  .grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-rows: none;
    background-color:lightcyan;
    padding: 10px;
}

.submit{
    border: 2px black;
    padding: 20px;
    margin-top: 9px;
}
.submit div{
    margin: 0 0 10px 0;
}
.submit button{
    border: 2px black;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}